@model MemoryGame.Models.Look
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/CSS/shop.css">
</head>
<body>
    <div>
        @{
            int i = 0;
            foreach (var look in ViewBag.Looks)
            {
                string imgId = "myImg" + i.ToString();
                <div id="myImg">
                    <img id="@imgId" onclick="showModal('myImg' + @i.ToString())" src="~/File?id=@(((IEnumerable<dynamic>)look.LookAttachmentFiles).FirstOrDefault(f => f.FileType == FileType.Avatar).Id)"
                         alt="@look.Description" style="max-width:300px; max-height:300px" />
                    <p class="lookName">@look.Name</p>
                    <p class="lookPrice">@look.Price</p>
                    <p class="lookId">@look.Id</p>
                </div>
                i++;
            }
        }
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01" />
            <div id="description"></div>
        </div>

        <script src="~/Scripts/shopImg.js"></script>
    </div>
</body>
