<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var look in ViewBag.Looks)
        {
        <div>
            <p>@look.Name</p>
            <p>@look.Price</p>
            <p>@look.Brand</p>
            <p>@look.Style</p>
            @Html.ActionLink("Buy", "Buy/"+(object)look.Id, "Look")
        </div>
        }
    </div>
</body>
</html>
