@model MemoryGame.Models.RegisterModel
@{
    ViewBag.Title = "Registration";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<fieldset>
    <div class="reg-label">
        @Html.Label("Email", "Email")
    </div>
    <div class="reg-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessage("Email")
    </div>

    <div class="reg-label">
        @Html.Label("Address", "Address")
    </div>
    <div class="reg-field">
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessage("Address")
    </div>

    <div class="reg-label">
        @Html.Label("Password", "Password")
    </div>
    <div class="reg-field">
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessage("Password")
    </div>

    <div class="reg-label">
        @Html.Label("ConfirmPassword")
    </div>
    <div class="reg-field">
        @Html.PasswordFor(model => model.ConfirmPassword)
        @Html.ValidationMessage("ConfirmPassword")
    </div>

    <div class="submitbutton">
        <input type="submit" value="Register" />
    </div>
</fieldset>
}